// Place all the styles related to the PlanetsDignities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$scored: green; //positive dignity
$unscored: red; //negative dignity
$lightGray: #ccc; //light gray

$montseFont: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;


/* ==================================================
STYLES FOR PLANET DIGNITIES (SHOW.ERB)
================================================== */

div.container {
  // max-width:none;
  // width:95%;
  text-align:center;

  h1 {
    color:#000;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size:0.813rem;
    padding:0;
    margin:0;
    font-weight:700;
    font-family:$montseFont;

  }
  h4 {
    color:gray;
    text-transform: uppercase;
    padding:0;
    margin:0.5rem 0 2rem 0;
    font-size:0.625rem;
    font-weight:700;
    font-family:$montseFont;

  }
  h6 {
    color:$lightGray;
    text-transform: uppercase;
    padding:0;;
    font-size:0.625rem;
    font-weight:700;
    font-family:$montseFont;
    // width:50%;
    // margin:1rem auto;
  }
  hr {
    width:50%;
    color:$lightGray;
  }
  select {
    margin:0 0 .5rem 0 !important;
    outline:none;
    min-height:3rem;
    font-family:inherit;
  }
  input.btn {
    margin:2.5rem 0 3rem 0;
  }
  label:last-of-type {
    margin:1.5rem 0 0 0;
  }

  /* Styles for each planet
  =================================================== */

  div.planet-result {
    margin:0;

    h3 {
      margin:0;
      font-size:1rem;
    }

    h6 {
      text-align:left;
      max-width:50%;
      margin:0 auto;

      >span {
        display:inline-block;
        vertical-align: middle;
        height:100%;

      }

      span.title {
        width:75%;

      }

      span.score {
        color:red;
        width:12.5%;
        text-align:right;
      }

      span.toggler {
        width:12.5%;
        text-align:right;
      }
    }

    span.planet-icon {
      background:transparent url('/assets/AstroIconsSVG/sun.svg') no-repeat center center;
      display:block;
      width:100%;
      height:10rem;
    }

    div.planet-result--summary{
      margin:0 auto;
      max-width:50%;

      div.col {
        text-transform:uppercase;
        font-size:0.813rem;
        font-family:$montseFont;
        font-weight:700;

        span {
          display:block;
          height:3rem;
          width:100%;
        }

        /* Temporary style for sign-icon
        =================================================== */

        span.sign-icon.top {
          background:transparent url('/assets/AstroIconsSVG/Aries.svg') no-repeat top center;
          background-size:1rem;
        }

        span.bottom {
          color:$lightGray;
        }
      }

    }

    ul.dignities-list{
      padding:0;
      margin:0 auto;
      list-style:none;
      max-width:50%;
      color:#919aa1;

      li {

        text-align:left;

        span {

          display:inline-block;
          vertical-align: middle;
        }

        span:first-of-type {
          width:75%;
        }

        span:last-of-type {
          width:25%;
          color:red;
          text-align:right;
        }

      }
    }

  }



  table {
    td.scored {
      color:$scored;
    }
    td.unscored {
      color:$unscored;
    }
    td {
      span.scored {
        color:$scored;
      }
      span.unscored {
        color:$unscored;
      }
    }
  }
  div.re-submit-holder {
    text-align:right;
    a {
      margin: 0;
    }
  }

}
