</div> <!-- main -->
<footer><p><%=t("footer.content_first")%> <span>&hearts;</span> <%= t("footer.content_second") %></p></footer>
<div id="holder-mq" class="holder-mq">
  <div id="map_mq" class="map_mq"></div>
  <div id="closer-mq" class="closer-mq"><span class="closer-mq--icon"></span></div>
</div>
