<head>
  <title>Astrology App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Set responsive layout -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" data-turbolinks-track="reload"></script>
</head>
